{{define "content"}}

<div class="container">
    <div class="row">
        <div class="column">
            <h3>Enter your Ethereum address here:</h3>
            <form action="/check" method="POST">
                <fieldset>
                    <label for="addrField">Address</label>
                    <input name="ether_address" type="text" placeholder="Enter you Ethereum address" id="addrField" value="{{ if ne .Address "" }}{{ .Address }}{{ end }}">
                    {{ if eq .IsValid false }}
                    <blockquote class="error">
                        <i>Ethereum address is invalid</i>
                    </blockquote>
                    {{ end }}
                    <input class="button-primary" type="submit" value="Go to check">
                </fieldset>
            </form>
        </div>
    </div>
</div>

{{end}}